<!doctype html>
<html lang="ch">
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="apple-touch-fullscreen" content="YES" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		<title>支付宝页面跳转同步通知页面</title>
		<style type="text/css">
		 body{ background: #fafafa;}
		  #content{ padding: 5% 0;}
		</style>
  </head>
  <body>
	<h2>您已充值成功，快去您的账户看看吧</h2>
  </body>
</html>