<div class="container" ng-controller="SuccessViewController">
	<h2>帽牌货点餐</h2>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">下单成功</h3>
		</div>
		<div class="panel-body">
			你的订单号：<span style="font-size:24px;font-weight:700;color:red;">{{orderNo}}</span>，
			订单预计<b style="color:green;font-size:24px">{{money}}</b>元，
			请拨打电话到<b style="color: red;font-size:24px">130-7784-0604</b>确认订单。
			请<span style="font-size:24px;font-weight:700;color:red;">{{eatTime}}</span>准时到店吃饭，防止饭菜冷了，感谢你的支持。
		</div>
	</div>
</div>
